@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@keyframes across {

  0% {
    transform: translate(12px, 0);
  }

  50% {
    transform: translate(-12px, 0);
  }

  100% {
    transform: translate(12px, 0);
  }

}

.left-eye {
  animation: across 2200ms infinite linear;
}

.right-eye {
  animation: across 2200ms infinite linear;
}

.face:hover .right-ear {
  transform: translate(0, 12px);
}

.right-ear {
  transition: all .5s linear;
}

.face:hover .left-ear {
  transform: translate(0, 12px);
}

.left-ear {
  transition: all .5s linear;
}
